##### Taken from https://github.com/catherinedevlin/ipython-sql

# Examples of using SQL from within a python notebook

In [5]:
#pip install ipython-sql
#pip install sql
#pip install sqlparse

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
%sql sqlite://

'Connected: None@None'

In [6]:
%%sql
CREATE TABLE writer (first_name, last_name, year_of_death);

Done.

[]

In [7]:
%%sql
INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);
INSERT INTO writer VALUES ('Berthold', 'Brecht', 1956);

1 rows affected.
1 rows affected.

[]

In [8]:
%sql select * from writer

Done.

first_name,last_name,year_of_death
William,Shakespeare,1616
Berthold,Brecht,1656